<!--
TODO
# -add to list place id to confirm connection
# -and link to show.html.erb or maybe edit link after each?
# -Bring Post id from places/show

#Header = place id
# posts where post.where places_id = place.id
-->


<h1> Posts </h1>


<ul>
  <% for post in @posts %>
    <li>
      <%= post.title %> </a>
    </li>
  <% end %>
</ul>


