<h1> Shoe's Favorite Places </h1>

<p> Best of the best </p>



<% @places = ["Portugal","Norway", "England"] %>

# <ul>
#   <% for place in @places %>
#     <a href="/place/<%= place.id %>"><%= place.name %></a>
#   <% end %>
# </ul>


<p> There are <%= @places.size %> places in your list! </p>

<p>
  <a href="/places/new">Add new place</a>
</p>


<p>
  <a href="/places">Refresh</a>
</p>