<form action="/places" method="post">
  <p>
    <label for="name">Place name</label>
    <input type="text" name="place[name]" id="place">
  </p>
  <input type="submit" name="commit" value="Create Post">
</form>